@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    font-family: 'Raleway',Arial,sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background-color: #202020;
    background-image: url('/img/clouds.jpg');
    background-position: center;
    background-size: cover;
}
.background {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.65);
    z-index: 0;
}
main {
    @extend .background;
    height: calc(100% - 80px);
    top: 80px;
    z-index: 1;
    position: relative;
    background: none;
    overflow: hidden;
}

.content {
    display: block;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    left: 0;
    transition: left ease-in-out 0.35s, opacity ease-in-out 0.3s;
}

.content-post {
    left: -40px;
    opacity: 0;
}

.content-pre {
    left: 40px;
    opacity: 0;
}


h1 {
    text-align: center;
    margin: 0;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100pt;
    text-shadow: 0 0 10px black;
}
