@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

nav {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 80px;
    z-index: 10;
    @include linearGradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    //background-color: rgba(#000000, 0.5);
    ul {
        list-style-type: none;
        box-sizing: border-box;
        padding: 15px 40px 0;
        margin: 0;
        height: 100%;
        display: inline-block;
    }
}


.button {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    margin: 0 10px;

    .bar {
        display: inline-block;
        width: 35%;
        height: 3px;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7);
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 6px;
        opacity: 0;
        transition: width ease-out 0.25s, background ease-out 0.25s, opacity ease-out 0.15s, box-shadow ease-out 0.15s;
    }

    a {
        cursor: pointer;
        display: block;
        position: relative;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        padding: 15px 20px 0;
        height: 100%;
        text-decoration: none;
        font-weight: bold;
        font-size: 14pt;
        transition: color linear 0.15s, text-shadow linear 0.15s;
    }
    a:hover {
        color: white;
        text-shadow: 0 0 2px black;
    }
}

.button.active {
    .bar {
        opacity: 1;
        width: 70%;
    }
}

.button:hover {
    .bar {
        width: 85%;
        opacity: 1;
        background-color: white;
        box-shadow: 0 0 2px black;
    }
}


.progress {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    width: 100%;
    opacity: 0;
    transition: opacity linear 0.2s, width linear 0.6s;
}
.progress-show {
    opacity: 1;
}
