-var page = { title: 'Mimicry', nav_title: 'Home' }
html(lang='en')
    head
        include ./preset/header
        title= page.title
    body
        include ./preset/nav
        div.background
        main
            section.content
