-var page = { title: 'Projects - Mimicry', nav_title: 'Projects' }
html(lang='en')
    head
        include ./preset/header
        title= page.title
    body
        include ./preset/nav
        main
            section
                h1 Projects
