mixin link(text, link)
    if (page.nav_title == text)
        li.button.active
            a(data-page=link)= text
            span.bar
                span.progress
    else
        li.button
            a(data-page=link)= text
            span.bar
                span.progress

nav
    ul
        +link('Home', '/')
        +link('Projects', '/projects')
        //+link('About', '/about')
